<div class="row">
    <div class="col-md-12">
        <p></p>
        <p><b>How To's related to the Self Service:</b></p>
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#collapse1">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" data-target="#collapse1">how to add new series</a>
                    </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <ul class="dotted">
                            <li>go to <a class="tooltipped" data-position="top" data-delay="40" data-tooltip="series automation" target="_blank" href="https://sickrage.theseeder.ml">sickrage</a> and log in</li>
                            <li>click on "Shows"->"Add Shows" and select "Add New Show"</li>
                            <li>enter the show name and select "Search" (the language only affects the search language so don't change it)</li>
                            <li>select the correct show you searched for and click "Next"</li>
                            <li>On Page 2 of 3 don't select anything and click "Next"</li>
                            <li>On the next Page select the Quality (preselect is: download 720p or better but replace with 1080p or better if found) and if you want the previously aired episodes to get snatched too select "Wanted" for "Status for previously aired episodes"</li>
                            <li>If your show is anime be sure to select "Anime"</li>
                            <li>Next click on "Add Show" to complete the process</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#collapse6">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" data-target="#collapse6">how to add movies</a>
                    </h4>
                </div>
                <div id="collapse6" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul class="dotted">
                            <li>go to <a class="tooltipped" data-position="top" data-delay="40" data-tooltip="movie automation" target="_blank" href="https://couchpotato.theseeder.ml">couchpotato</a> and log in</li>
                            <li>enter the movie name in the search box and select the movie you want to add</li>
                            <li>click on "Add" to complete the process</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#collapse2">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" data-target="#collapse2">how to add .torrents</a>
                    </h4>
                </div>
                <div id="collapse2" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul class="dotted">
                            <li>go to <a class="tooltipped" data-position="top" data-delay="40" data-tooltip="μtorrent to download torrents" target="_blank" href="https://torrent.theseeder.ml">torrent</a> and log in</li>
                            <li>click on the symbol top left in the corner which says "Add Torrent"</li>
                            <li>click "Browse" and select your .torrent</li>
                            <li>click "OK" to complete the process</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#collapse4">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" data-target="#collapse4">how to add magnets</a>
                    </h4>
                </div>
                <div id="collapse4" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul class="dotted">
                            <li>go to <a class="tooltipped" data-position="top" data-delay="40" data-tooltip="μtorrent to download torrents" target="_blank" href="https://torrent.theseeder.ml">torrent</a> and log in</li>
                            <li>click on the second symbol top left in the corner which says "Add Torrent from URL"</li>
                            <li>enter the magnet link into the "Torrent URL" field and select "OK" to complete the process</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#collapse3">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" data-target="#collapse3">how to add links</a>
                    </h4>
                </div>
                <div id="collapse3" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul class="dotted">
                            <li>go to <a class="tooltipped" data-position="top" data-delay="40" data-tooltip="jdownloader web interface for links + dlc" target="_blank" href="https://my.jdownloader.org">jd</a> and log in</li>
                            <li>click on "JD@THESEEDER" and go to "LINKCOLLECTOR"</li>
                            <li>click on "Add links" and enter the link(s) you want to download</li>
                            <li>if your archive is password protected enter it below</li>
                            <li>if your link is password protected enter it below</li>
                            <li>you might need to solve a captcha depending on the type of link you entered</li>
                            <li>if every part is online from at least one hoster right click on the package and select "Add to downloads" to complete the process</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#collapse5">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" data-target="#collapse5">how to add dlc</a>
                    </h4>
                </div>
                <div id="collapse5" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul class="dotted">
                            <li>go to <a class="tooltipped" data-position="top" data-delay="40" data-tooltip="jdownloader web interface for links + dlc" target="_blank" href="https://my.jdownloader.org">jd</a> and log in</li>
                            <li>click on "JD@THESEEDER" and go to "LINKCOLLECTOR"</li>
                            <li>click on the Dropdown to the right of "Add links" and select "Add Container"</li>
                            <li>add the dlc(s) and click "Upload"</li>
                            <li>if every part is online from at least one hoster right click on the package and select "Add to downloads" to complete the process</li>
                            <li>HINT: if your archive is password protected go to "SETTINGS" and enter it in "Add to Archive Password List" and click "Save"</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#collapse7">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" data-target="#collapse7">how to find torrents</a>
                    </h4>
                </div>
                <div id="collapse7" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul>
                            <li>you can search for torrents on <a target="_blank" href="https://thepiratebay.se">thepiratebay</a> or use <a target="_blank" href="https://google.com">google</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#collapse8">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" data-target="#collapse8">how to contribute to scripts</a>
                    </h4>
                </div>
                <div id="collapse8" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul class="dotted">
                            <li>open <a target="_blank" href="https://git.theseeder.ml">git</a> and fork the repo, create an account if you dont have one already</li>
                            <li>commit your changes to your repo</li>
                            <li>create a pull request on the original repo for yours to get merged</li>
                            <li>alternatively send me your changes via pm/email</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
