<div class="row">
    <div class="col-md-12">
        <p></p>
        <p>Student &nbsp;&bull;&nbsp; Geek &nbsp;&bull;&nbsp; Human</p>
        <ul class="centered">
            <li><a class="fa fa-paw tooltipped" data-position="right" data-delay="40" data-tooltip="awwww so cuuuute"
                   href="http://attackofthecute.com/random.php" target="_blank"><span> Cute!</span></a></li>
            <li><!--email_off--> <a href="mailto:contact@theseeder.ml"
                                    class="fa fa-envelope-o"><span> Email me</span></a> <!--/email_off--></li>
            <li>I sell <i class="fa fa-btc" aria-hidden="true"></i>itcoin, just contact me!</li>
        </ul>
    </div>
</div>